.git
**/node_modules
**/.next
**/.source
**/dist
**/coverage
**/.dart_tool
**/*.tsbuildinfo
.cache
.pnpm-store
local
**/.env
**/.env.*
**/*.pem
**/*.key
**/.npmrc
**/.netrc
**/*.dump
**/*.log
.DS_Store
apps/api/src/generated/prisma
