openapi: 3.2.1
info:
  title: MyanLex API
  version: 0.1.0
  summary: Deterministic Myanmar-language text processing
  description: |
    MyanLex exposes the framework-independent language engine through a
    versioned JSON API. All text spans use zero-based, half-open Unicode
    code-point offsets, never UTF-8 bytes or JavaScript UTF-16 code units.

    Operations are explicit: detection never converts, conversion never
    auto-detects, and normalization uses only the documented safe NFC profile.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.myanlex.dev/v1
    description: Production
  - url: /v1
    description: Same-origin development or self-hosting
security:
  - bearerApiKey: []
tags:
  - name: Health
    description: Service health
  - name: Text
    description: Encoding and normalization operations
  - name: Burmese
    description: Burmese-specific linguistic operations
  - name: Transliteration
    description: Explicit Myanmar-to-Latin schemes
  - name: Tokenization
    description: Lossless lexical and script boundaries
  - name: Batch
    description: Ordered multi-item text processing with isolated item failures
paths:
  /health:
    get:
      operationId: getHealth
      summary: Check service health
      tags: [Health]
      security: []
      responses:
        '200':
          description: The service is ready to accept requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /text/detect:
    post:
      operationId: detectText
      summary: Detect Unicode or Zawgyi Myanmar text
      description:
        Non-Myanmar spans are preserved in the input but omitted from encoding
        segments.
      tags: [Text]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Conservative encoding detection result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodingDetectionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /text/normalize:
    post:
      operationId: normalizeText
      summary: Apply safe Unicode normalization
      description:
        Applies NFC only and does not convert Zawgyi or repair spelling.
      tags: [Text]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Unicode NFC normalization result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /text/convert:
    post:
      operationId: convertText
      summary: Convert explicitly between Unicode and Zawgyi
      description:
        The source encoding must be supplied; this operation never auto-detects.
      tags: [Text]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertTextRequest'
      responses:
        '200':
          description: Explicit encoding conversion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodingConversionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /syllabify:
    post:
      operationId: syllabifyText
      summary: Segment Burmese orthographic syllables
      description: Returns written syllable units, not dictionary words.
      tags: [Burmese]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Lossless Burmese orthographic segmentation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyllabificationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /orthography/validate:
    post:
      operationId: validateOrthography
      summary: Validate supported Burmese orthographic structure
      description:
        Structural validation does not claim dictionary spelling correctness.
      tags: [Burmese]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Structural validation result with code-point spans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrthographyValidationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /transliterate:
    post:
      operationId: transliterateText
      summary: Transliterate Myanmar text to Latin
      description:
        Applies the selected published mapping and preserves unsupported input.
      tags: [Transliteration]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransliterateTextRequest'
      responses:
        '200':
          description: Source-preserving transliteration result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransliterationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /tokenize:
    post:
      operationId: tokenizeText
      summary: Tokenize mixed Myanmar text
      description:
        Returns lexical/script units and does not claim dictionary word
        segmentation.
      tags: [Tokenization]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Lossless tokens and scoped Myanmar/Latin script report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenizationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /batch/syllabify:
    post:
      operationId: batchSyllabify
      summary: Segment multiple texts into Burmese orthographic syllables
      description: |
        Processes items in request order. Invalid Unicode or overlong text
        fails only the affected item. Batch-wide limit violations fail the
        request.
      tags: [Batch]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSyllabifyRequest'
      responses:
        '200':
          description: Ordered syllabification results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSyllabifyResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /batch/transliterate:
    post:
      operationId: batchTransliterate
      summary: Transliterate multiple Myanmar texts to Latin
      description: |
        Applies one explicit scheme to every item and preserves request order.
        Invalid Unicode or overlong text fails only the affected item.
      tags: [Batch]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTransliterateRequest'
      responses:
        '200':
          description: Ordered transliteration results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchTransliterateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: API-Key
      description: A MyanLex API key supplied as a bearer token.
  requestBodies:
    TextRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextRequest'
  responses:
    BadRequest:
      description: The JSON body or Unicode text is invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: The API key does not grant every required permission.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PayloadTooLarge:
      description:
        Text, item count, batch text, or the HTTP body exceeds its documented
        limit.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    RateLimited:
      description: The API key has exceeded its request allowance.
      headers:
        RateLimit-Limit:
          description: Maximum requests allowed in the current window.
          schema:
            type: integer
            minimum: 1
        RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema:
            type: integer
            minimum: 0
        RateLimit-Reset:
          description: Seconds until the current window resets.
          schema:
            type: integer
            minimum: 1
        Retry-After:
          description: Seconds until another request should be attempted.
          schema:
            type: integer
            minimum: 1
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalError:
      description: An unexpected service error occurred.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status, version]
      properties:
        status:
          type: string
          const: ok
        version:
          type: string
          description: Deployed service version.
    TextRequest:
      type: object
      additionalProperties: false
      required: [text]
      properties:
        text:
          type: string
          description:
            Text beyond 100,000 Unicode code points produces an item-level
            failure rather than failing the whole batch.
    ConvertTextRequest:
      type: object
      additionalProperties: false
      required: [text, from, to]
      properties:
        text:
          type: string
          maxLength: 100000
        from:
          $ref: '#/components/schemas/ConversionEncoding'
        to:
          $ref: '#/components/schemas/ConversionEncoding'
    TransliterateTextRequest:
      type: object
      additionalProperties: false
      required: [text, scheme]
      properties:
        text:
          type: string
          maxLength: 100000
        scheme:
          type: string
          enum: [ala-lc-2011]
    ConversionEncoding:
      type: string
      enum: [unicode, zawgyi]
    EncodingSegment:
      type: object
      additionalProperties: false
      required: [text, encoding, zawgyiProbability, start, end]
      properties:
        text:
          type: string
        encoding:
          type: string
          enum: [unicode, zawgyi, unknown]
        zawgyiProbability:
          type: [number, 'null']
          minimum: 0
          maximum: 1
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    EncodingDetectionResult:
      type: object
      additionalProperties: false
      required: [input, encoding, confidence, profile, segments]
      properties:
        input:
          type: string
        encoding:
          type: string
          enum: [unicode, zawgyi, mixed, unknown, non_myanmar]
        confidence:
          type: [number, 'null']
          minimum: 0
          maximum: 1
        profile:
          type: string
          const: zawgyi-unicode-v1
        segments:
          type: array
          items:
            $ref: '#/components/schemas/EncodingSegment'
    NormalizationResult:
      type: object
      additionalProperties: false
      required: [input, output, changed, profile]
      properties:
        input:
          type: string
        output:
          type: string
        changed:
          type: boolean
        profile:
          type: string
          const: unicode-nfc
    EncodingConversionResult:
      type: object
      additionalProperties: false
      required: [input, output, from, to, changed, profile]
      properties:
        input:
          type: string
        output:
          type: string
        from:
          $ref: '#/components/schemas/ConversionEncoding'
        to:
          $ref: '#/components/schemas/ConversionEncoding'
        changed:
          type: boolean
        profile:
          type: string
          const: cldr-zawgyi-v1
    BurmeseSyllableSegment:
      type: object
      additionalProperties: false
      required: [kind, text, start, end]
      properties:
        kind:
          type: string
          enum: [burmese_syllable, separator, non_myanmar, unsupported_myanmar]
        text:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    SyllabificationResult:
      type: object
      additionalProperties: false
      required: [input, profile, segments]
      properties:
        input:
          type: string
        profile:
          type: string
          const: burmese-orthographic-v1
        segments:
          type: array
          items:
            $ref: '#/components/schemas/BurmeseSyllableSegment'
    OrthographyDiagnostic:
      type: object
      additionalProperties: false
      required: [code, severity, message, start, end]
      properties:
        code:
          type: string
          enum:
            - component_order
            - dangling_virama
            - duplicate_component
            - invalid_syllable_start
            - orphan_mark
            - unsupported_myanmar
            - unsupported_stack_target
        severity:
          type: string
          const: error
        message:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    OrthographyValidationResult:
      type: object
      additionalProperties: false
      required: [input, valid, profile, diagnostics]
      properties:
        input:
          type: string
        valid:
          type: boolean
        profile:
          type: string
          const: burmese-orthography-v1
        diagnostics:
          type: array
          items:
            $ref: '#/components/schemas/OrthographyDiagnostic'
    TransliterationSegment:
      type: object
      additionalProperties: false
      required: [kind, input, output, start, end]
      properties:
        kind:
          type: string
          enum: [transliterated, preserved, unsupported]
        input:
          type: string
        output:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    TransliterationResult:
      type: object
      additionalProperties: false
      required: [input, output, scheme, profile, complete, segments]
      properties:
        input:
          type: string
        output:
          type: string
        scheme:
          type: string
          enum: [ala-lc-2011]
        profile:
          type: string
          const: ala-lc-2011-mapping-v1
        complete:
          type: boolean
        segments:
          type: array
          items:
            $ref: '#/components/schemas/TransliterationSegment'
    TextToken:
      type: object
      additionalProperties: false
      required: [kind, text, script, start, end]
      properties:
        kind:
          type: string
          enum:
            - burmese_syllable
            - latin_word
            - number
            - punctuation
            - whitespace
            - emoji
            - unsupported_myanmar
            - other
        text:
          type: string
        script:
          type: string
          enum: [myanmar, latin, common, unknown]
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    TokenizationResult:
      type: object
      additionalProperties: false
      required: [input, profile, tokens, scripts, mixedScript]
      properties:
        input:
          type: string
        profile:
          type: string
          const: myanmar-script-tokens-v1
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TextToken'
        scripts:
          type: array
          uniqueItems: true
          maxItems: 2
          items:
            type: string
            enum: [myanmar, latin]
        mixedScript:
          type: boolean
    BatchItem:
      type: object
      additionalProperties: false
      required: [id, text]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 128
        text:
          type: string
          maxLength: 100000
          description: Well-formed Unicode text, limited by Unicode code points.
    BatchSyllabifyRequest:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/BatchItem'
          description: Combined item text is limited to 1,000,000 UTF-8 bytes.
    BatchTransliterateRequest:
      type: object
      additionalProperties: false
      required: [items, scheme]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/BatchItem'
          description: Combined item text is limited to 1,000,000 UTF-8 bytes.
        scheme:
          type: string
          enum: [ala-lc-2011]
    BatchItemError:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
          enum: [invalid_unicode, text_too_long]
        message:
          type: string
    BatchItemFailure:
      type: object
      additionalProperties: false
      required: [id, success, error]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: false
        error:
          $ref: '#/components/schemas/BatchItemError'
    BatchSyllabifySuccess:
      type: object
      additionalProperties: false
      required: [id, success, result]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: true
        result:
          $ref: '#/components/schemas/SyllabificationResult'
    BatchTransliterateSuccess:
      type: object
      additionalProperties: false
      required: [id, success, result]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: true
        result:
          $ref: '#/components/schemas/TransliterationResult'
    BatchSyllabifyResult:
      type: object
      additionalProperties: false
      required: [results]
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/BatchSyllabifySuccess'
              - $ref: '#/components/schemas/BatchItemFailure'
    BatchTransliterateResult:
      type: object
      additionalProperties: false
      required: [results]
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/BatchTransliterateSuccess'
              - $ref: '#/components/schemas/BatchItemFailure'
    Problem:
      type: object
      additionalProperties: false
      required: [type, title, status, code]
      properties:
        type:
          type: string
          format: uri-reference
          default: about:blank
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        code:
          type: string
          enum:
            - invalid_request
            - invalid_unicode
            - text_too_long
            - batch_empty
            - batch_too_large
            - batch_too_many_items
            - payload_too_large
            - unauthorized
            - forbidden
            - not_found
            - rate_limited
            - internal_error
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
        requestId:
          type: string
