openapi: 3.2.1
info:
  title: MyanLex API
  version: 0.1.0
  summary: Deterministic Myanmar-language text processing
  description: |
    MyanLex exposes the framework-independent language engine through a
    versioned JSON API. All text spans use zero-based, half-open Unicode
    code-point offsets, never UTF-8 bytes or JavaScript UTF-16 code units.

    Operations are explicit: detection never converts, conversion never
    auto-detects, and normalization uses only the documented safe NFC profile.

    Protected routes enforce short-window rate limits. Optional organization-wide
    UTC monthly quotas apply to persisted API keys before handler validation.
    A batch reserves one request and all submitted code points. Rejections use
    429 rate_limited or quota_exceeded with Retry-After; unavailable enforcement
    uses 503 service_unavailable. RateLimit headers describe short windows only.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.myanlex.dev/v1
    description: Production
  - url: /v1
    description: Same-origin development or self-hosting
security:
  - bearerApiKey: []
tags:
  - name: Platform
    description:
      Session-protected organization onboarding and project management
  - name: Health
    description: Service health
  - name: Text
    description: Encoding and normalization operations
  - name: Burmese
    description: Burmese-specific linguistic operations
  - name: Transliteration
    description: Explicit Myanmar-to-Latin schemes
  - name: Tokenization
    description: Lossless lexical and script boundaries
  - name: Batch
    description: Ordered multi-item text processing with isolated item failures
paths:
  /platform/organizations:
    get:
      operationId: listOrganizations
      summary: List organizations for the current member
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      parameters:
        - name: after
          in: query
          description:
            Exclusive UUID cursor returned as nextCursor by a prior page.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createOrganization
      summary: Create organization and initial membership
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInput'
      responses:
        '201':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
  /platform/organizations/{organizationId}:
    parameters:
      - name: organizationId
        in: path
        required: true
        description:
          Resource UUID; organization membership is checked independently.
        schema:
          type: string
          format: uuid
    get:
      operationId: getOrganization
      summary: Get organization and current member permissions
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
  /platform/organizations/{organizationId}/projects:
    parameters:
      - name: organizationId
        in: path
        required: true
        description:
          Resource UUID; organization membership is checked independently.
        schema:
          type: string
          format: uuid
    get:
      operationId: listProjects
      summary: List projects (project.read)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      parameters:
        - name: after
          in: query
          description:
            Exclusive UUID cursor returned as nextCursor by a prior page.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createProject
      summary: Create project (project.create)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '201':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
  /platform/organizations/{organizationId}/projects/{projectId}:
    get:
      operationId: getProject
      summary: Read a project (project.read)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Verified session required. Membership and current dynamic permissions
        are checked on every request. Writes require the configured trusted Origin.
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
    parameters:
      - name: organizationId
        in: path
        required: true
        description:
          Resource UUID; organization membership is checked independently.
        schema:
          type: string
          format: uuid
      - name: projectId
        in: path
        required: true
        description:
          Resource UUID; organization membership is checked independently.
        schema:
          type: string
          format: uuid
    patch:
      operationId: updateProject
      summary: Update project (project.update)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Requires a verified account session; API keys are not accepted.
        POST and PATCH require Origin to exactly match AUTH_PUBLIC_URL.
        Non-members receive 404; missing member permissions receive 403.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateInput'
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '409':
          $ref: '#/components/responses/WorkspaceConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
  /platform/organizations/{organizationId}/projects/{projectId}/api-keys:
    parameters:
      - name: organizationId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
      - name: projectId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
    get:
      operationId: listApiKeys
      summary: List project keys (api_key.read)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Verified session required. Membership and current dynamic permissions
        are checked on every request. Writes require the configured trusted Origin.
      parameters:
        - name: after
          in: query
          description: Last key UUID from the previous page.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum page size.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
    post:
      operationId: createApiKey
      summary: Create a scoped project key (api_key.create)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Verified session required. Membership and current dynamic permissions
        are checked on every request. Writes require the configured trusted Origin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyInput'
      responses:
        '201':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /platform/organizations/{organizationId}/projects/{projectId}/api-keys/{keyId}/revoke:
    parameters:
      - name: organizationId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
      - name: projectId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
      - name: keyId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
    post:
      operationId: revokeApiKey
      summary: Irreversibly revoke a key (api_key.revoke)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Verified session required. Membership and current dynamic permissions
        are checked on every request. Writes require the configured trusted Origin.
      responses:
        '200':
          description: Successful operation. Responses are private and no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /platform/organizations/{organizationId}/projects/{projectId}/usage:
    parameters:
      - name: organizationId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
      - name: projectId
        in: path
        required: true
        description: Tenant-scoped resource identifier.
        schema:
          type: string
          format: uuid
    get:
      operationId: getProjectUsage
      summary: Report recorded project usage (usage.read)
      tags: [Platform]
      security:
        - accountSession: []
      description: |
        Verified session and current membership/usage.read required; bearer keys
        are not accepted. Inclusive UTC date range, 1–90 days, no future dates,
        earliest 1970-01-01. Supply both dates or neither (last 30 days including
        today). Today's bucket is partial. Missing days are zero-filled.
        This is best-effort recorded usage, not a billing statement. Bootstrap
        traffic and rejections before the interceptor, including rate limits,
        are excluded. Persistence failures can leave gaps. Batch HTTP requests
        count once; item failures within successful responses are not HTTP errors.
        Submitted characters are Unicode code points, including failed requests
        that reached the interceptor. No submitted text is retained or returned.
        Counter strings preserve exact integer precision. Handler durations exclude
        network, guards and usage persistence. Totals match the returned buckets.
      parameters:
        - name: from
          in: query
          description:
            Inclusive start UTC calendar date; requires the other date.
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: Inclusive end UTC calendar date; requires the other date.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Recorded usage snapshot; private, no-store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WorkspaceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /health:
    get:
      operationId: getHealth
      summary: Check service health
      tags: [Health]
      security: []
      responses:
        '200':
          description: The service is ready to accept requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /text/detect:
    post:
      operationId: detectText
      summary: Detect Unicode or Zawgyi Myanmar text
      description:
        Non-Myanmar spans are preserved in the input but omitted from encoding
        segments.
      tags: [Text]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Conservative encoding detection result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodingDetectionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /text/normalize:
    post:
      operationId: normalizeText
      summary: Apply safe Unicode normalization
      description:
        Applies NFC only and does not convert Zawgyi or repair spelling.
      tags: [Text]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Unicode NFC normalization result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /text/convert:
    post:
      operationId: convertText
      summary: Convert explicitly between Unicode and Zawgyi
      description:
        The source encoding must be supplied; this operation never auto-detects.
      tags: [Text]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertTextRequest'
      responses:
        '200':
          description: Explicit encoding conversion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodingConversionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /syllabify:
    post:
      operationId: syllabifyText
      summary: Segment Burmese orthographic syllables
      description: Returns written syllable units, not dictionary words.
      tags: [Burmese]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Lossless Burmese orthographic segmentation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyllabificationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /orthography/validate:
    post:
      operationId: validateOrthography
      summary: Validate supported Burmese orthographic structure
      description:
        Structural validation does not claim dictionary spelling correctness.
      tags: [Burmese]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Structural validation result with code-point spans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrthographyValidationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /transliterate:
    post:
      operationId: transliterateText
      summary: Transliterate Myanmar text to Latin
      description:
        Applies the selected published mapping and preserves unsupported input.
      tags: [Transliteration]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransliterateTextRequest'
      responses:
        '200':
          description: Source-preserving transliteration result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransliterationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /tokenize:
    post:
      operationId: tokenizeText
      summary: Tokenize mixed Myanmar text
      description:
        Returns lexical/script units and does not claim dictionary word
        segmentation.
      tags: [Tokenization]
      requestBody:
        $ref: '#/components/requestBodies/TextRequest'
      responses:
        '200':
          description: Lossless tokens and scoped Myanmar/Latin script report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenizationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /batch/syllabify:
    post:
      operationId: batchSyllabify
      summary: Segment multiple texts into Burmese orthographic syllables
      description: |
        Processes items in request order. Invalid Unicode or overlong text
        fails only the affected item. Batch-wide limit violations fail the
        request.
      tags: [Batch]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSyllabifyRequest'
      responses:
        '200':
          description: Ordered syllabification results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSyllabifyResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
  /batch/transliterate:
    post:
      operationId: batchTransliterate
      summary: Transliterate multiple Myanmar texts to Latin
      description: |
        Applies one explicit scheme to every item and preserves request order.
        Invalid Unicode or overlong text fails only the affected item.
      tags: [Batch]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTransliterateRequest'
      responses:
        '200':
          description: Ordered transliteration results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchTransliterateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'
components:
  securitySchemes:
    accountSession:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: |
        Better Auth signed HttpOnly session cookie; HTTPS uses the
        __Secure-better-auth.session_token name. Sign in through /api/auth.
        Browser clients send cookies automatically; do not paste secrets into docs.
    bearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: API-Key
      description: A MyanLex API key supplied as a bearer token.
  requestBodies:
    TextRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextRequest'
  responses:
    WorkspaceNotFound:
      description: The resource does not exist or is not visible to this member.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    WorkspaceConflict:
      description: The slug is already in use.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PlatformUnavailable:
      description:
        Account authentication, persistence, or limit enforcement is
        unavailable.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: The request body, parameters, or Unicode text is invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description:
        The required API key or account session is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description:
        Required permissions, email verification, or a trusted Origin are
        missing.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PayloadTooLarge:
      description:
        Text, item count, batch text, or the HTTP body exceeds its documented
        limit.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    RateLimited:
      description: |
        The caller exceeded its short-window allowance (rate_limited), or the
        organization exhausted a monthly allowance (quota_exceeded, persisted API
        keys only). Retry-After describes the applicable reset. RateLimit headers
        always describe the short window, not monthly quotas.
      headers:
        RateLimit-Limit:
          description: Maximum requests allowed in the current window.
          schema:
            type: integer
            minimum: 1
        RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema:
            type: integer
            minimum: 0
        RateLimit-Reset:
          description: Seconds until the current window resets.
          schema:
            type: integer
            minimum: 1
        Retry-After:
          description: Seconds until another request should be attempted.
          schema:
            type: integer
            minimum: 1
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalError:
      description: An unexpected service error occurred.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    OrganizationInput:
      type: object
      additionalProperties: false
      required: [name, slug]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
          description: Whitespace-trimmed display name, including Unicode.
        slug:
          type: string
          minLength: 1
          maxLength: 80
          pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$'
    ProjectInput:
      type: object
      additionalProperties: false
      required: [name, slug]
      properties:
        name:
          $ref: '#/components/schemas/OrganizationInput/properties/name'
        slug:
          $ref: '#/components/schemas/OrganizationInput/properties/slug'
        environment:
          type: string
          enum: [development, staging, production]
          default: development
    ProjectUpdateInput:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          $ref: '#/components/schemas/OrganizationInput/properties/name'
        slug:
          $ref: '#/components/schemas/OrganizationInput/properties/slug'
        environment:
          type: string
          enum: [development, staging, production]
    Organization:
      type: object
      additionalProperties: false
      required: [id, name, slug]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
    OrganizationAccess:
      type: object
      additionalProperties: false
      required: [id, name, slug, permissions]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        permissions:
          type: array
          items:
            type: string
    Project:
      type: object
      additionalProperties: false
      required: [id, organizationId, name, slug, environment]
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        environment:
          type: string
    OrganizationPage:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
        nextCursor:
          type: [string, 'null']
          format: uuid
    ProjectPage:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        nextCursor:
          type: [string, 'null']
          format: uuid
    ApiKeyInput:
      type: object
      additionalProperties: false
      required: [name, scopes]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        scopes:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: string
            enum: [api.invoke]
          description:
            Only machine capabilities held by the creating member may be
            delegated.
        expiresAt:
          type: string
          format: date-time
          description: Future UTC expiration. Omit for no expiration.
    ApiKey:
      type: object
      additionalProperties: false
      required:
        [
          id,
          projectId,
          name,
          prefix,
          scopes,
          createdAt,
          lastUsedAt,
          expiresAt,
          revokedAt,
        ]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        name:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: [string, 'null']
          format: date-time
        expiresAt:
          type: [string, 'null']
          format: date-time
        revokedAt:
          type: [string, 'null']
          format: date-time
    CreatedApiKey:
      type: object
      additionalProperties: false
      required:
        [
          id,
          projectId,
          name,
          prefix,
          scopes,
          createdAt,
          lastUsedAt,
          expiresAt,
          revokedAt,
          secret,
        ]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        name:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: [string, 'null']
          format: date-time
        expiresAt:
          type: [string, 'null']
          format: date-time
        revokedAt:
          type: [string, 'null']
          format: date-time
        secret:
          type: string
          description:
            Returned once at creation. Never returned by list or revoke.
    ApiKeyPage:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
        nextCursor:
          type: [string, 'null']
          format: uuid
    UsageMetrics:
      type: object
      additionalProperties: false
      required:
        [
          requestCount,
          errorCount,
          charactersProcessed,
          processingTimeMs,
          averageProcessingTimeMs,
        ]
      properties:
        requestCount:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        errorCount:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        charactersProcessed:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        processingTimeMs:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        averageProcessingTimeMs:
          type: [string, 'null']
          pattern: '^[0-9]+\.[0-9]{2}$'
          description:
            Weighted handler duration, rounded to two decimals; null when no
            requests are recorded.
    UsageDay:
      type: object
      additionalProperties: false
      required:
        [
          date,
          requestCount,
          errorCount,
          charactersProcessed,
          processingTimeMs,
          averageProcessingTimeMs,
        ]
      properties:
        date:
          type: string
          format: date
        requestCount:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        errorCount:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        charactersProcessed:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        processingTimeMs:
          type: string
          pattern: '^(0|[1-9][0-9]*)$'
        averageProcessingTimeMs:
          type: [string, 'null']
          pattern: '^[0-9]+\.[0-9]{2}$'
          description:
            Weighted handler duration, rounded to two decimals; null when no
            requests are recorded.
    UsageReport:
      type: object
      additionalProperties: false
      required:
        [projectId, from, to, timezone, generatedAt, metering, totals, days]
      properties:
        projectId:
          type: string
          format: uuid
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        timezone:
          type: string
          const: UTC
        generatedAt:
          type: string
          format: date-time
        metering:
          type: string
          const: best-effort
        totals:
          $ref: '#/components/schemas/UsageMetrics'
        days:
          type: array
          minItems: 1
          maxItems: 90
          items:
            $ref: '#/components/schemas/UsageDay'
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status, version]
      properties:
        status:
          type: string
          const: ok
        version:
          type: string
          description: Deployed service version.
    TextRequest:
      type: object
      additionalProperties: false
      required: [text]
      properties:
        text:
          type: string
          description:
            Text beyond 100,000 Unicode code points produces an item-level
            failure rather than failing the whole batch.
    ConvertTextRequest:
      type: object
      additionalProperties: false
      required: [text, from, to]
      properties:
        text:
          type: string
          maxLength: 100000
        from:
          $ref: '#/components/schemas/ConversionEncoding'
        to:
          $ref: '#/components/schemas/ConversionEncoding'
    TransliterateTextRequest:
      type: object
      additionalProperties: false
      required: [text, scheme]
      properties:
        text:
          type: string
          maxLength: 100000
        scheme:
          type: string
          enum: [ala-lc-2011]
    ConversionEncoding:
      type: string
      enum: [unicode, zawgyi]
    EncodingSegment:
      type: object
      additionalProperties: false
      required: [text, encoding, zawgyiProbability, start, end]
      properties:
        text:
          type: string
        encoding:
          type: string
          enum: [unicode, zawgyi, unknown]
        zawgyiProbability:
          type: [number, 'null']
          minimum: 0
          maximum: 1
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    EncodingDetectionResult:
      type: object
      additionalProperties: false
      required: [input, encoding, confidence, profile, segments]
      properties:
        input:
          type: string
        encoding:
          type: string
          enum: [unicode, zawgyi, mixed, unknown, non_myanmar]
        confidence:
          type: [number, 'null']
          minimum: 0
          maximum: 1
        profile:
          type: string
          const: zawgyi-unicode-v1
        segments:
          type: array
          items:
            $ref: '#/components/schemas/EncodingSegment'
    NormalizationResult:
      type: object
      additionalProperties: false
      required: [input, output, changed, profile]
      properties:
        input:
          type: string
        output:
          type: string
        changed:
          type: boolean
        profile:
          type: string
          const: unicode-nfc
    EncodingConversionResult:
      type: object
      additionalProperties: false
      required: [input, output, from, to, changed, profile]
      properties:
        input:
          type: string
        output:
          type: string
        from:
          $ref: '#/components/schemas/ConversionEncoding'
        to:
          $ref: '#/components/schemas/ConversionEncoding'
        changed:
          type: boolean
        profile:
          type: string
          const: cldr-zawgyi-v1
    BurmeseSyllableSegment:
      type: object
      additionalProperties: false
      required: [kind, text, start, end]
      properties:
        kind:
          type: string
          enum: [burmese_syllable, separator, non_myanmar, unsupported_myanmar]
        text:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    SyllabificationResult:
      type: object
      additionalProperties: false
      required: [input, profile, segments]
      properties:
        input:
          type: string
        profile:
          type: string
          const: burmese-orthographic-v1
        segments:
          type: array
          items:
            $ref: '#/components/schemas/BurmeseSyllableSegment'
    OrthographyDiagnostic:
      type: object
      additionalProperties: false
      required: [code, severity, message, start, end]
      properties:
        code:
          type: string
          enum:
            - component_order
            - dangling_virama
            - duplicate_component
            - invalid_syllable_start
            - orphan_mark
            - unsupported_myanmar
            - unsupported_stack_target
        severity:
          type: string
          const: error
        message:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    OrthographyValidationResult:
      type: object
      additionalProperties: false
      required: [input, valid, profile, diagnostics]
      properties:
        input:
          type: string
        valid:
          type: boolean
        profile:
          type: string
          const: burmese-orthography-v1
        diagnostics:
          type: array
          items:
            $ref: '#/components/schemas/OrthographyDiagnostic'
    TransliterationSegment:
      type: object
      additionalProperties: false
      required: [kind, input, output, start, end]
      properties:
        kind:
          type: string
          enum: [transliterated, preserved, unsupported]
        input:
          type: string
        output:
          type: string
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    TransliterationResult:
      type: object
      additionalProperties: false
      required: [input, output, scheme, profile, complete, segments]
      properties:
        input:
          type: string
        output:
          type: string
        scheme:
          type: string
          enum: [ala-lc-2011]
        profile:
          type: string
          const: ala-lc-2011-mapping-v1
        complete:
          type: boolean
        segments:
          type: array
          items:
            $ref: '#/components/schemas/TransliterationSegment'
    TextToken:
      type: object
      additionalProperties: false
      required: [kind, text, script, start, end]
      properties:
        kind:
          type: string
          enum:
            - burmese_syllable
            - latin_word
            - number
            - punctuation
            - whitespace
            - emoji
            - unsupported_myanmar
            - other
        text:
          type: string
        script:
          type: string
          enum: [myanmar, latin, common, unknown]
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
    TokenizationResult:
      type: object
      additionalProperties: false
      required: [input, profile, tokens, scripts, mixedScript]
      properties:
        input:
          type: string
        profile:
          type: string
          const: myanmar-script-tokens-v1
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TextToken'
        scripts:
          type: array
          uniqueItems: true
          maxItems: 2
          items:
            type: string
            enum: [myanmar, latin]
        mixedScript:
          type: boolean
    BatchItem:
      type: object
      additionalProperties: false
      required: [id, text]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 128
        text:
          type: string
          maxLength: 100000
          description: Well-formed Unicode text, limited by Unicode code points.
    BatchSyllabifyRequest:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/BatchItem'
          description: Combined item text is limited to 1,000,000 UTF-8 bytes.
    BatchTransliterateRequest:
      type: object
      additionalProperties: false
      required: [items, scheme]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/BatchItem'
          description: Combined item text is limited to 1,000,000 UTF-8 bytes.
        scheme:
          type: string
          enum: [ala-lc-2011]
    BatchItemError:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
          enum: [invalid_unicode, text_too_long]
        message:
          type: string
    BatchItemFailure:
      type: object
      additionalProperties: false
      required: [id, success, error]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: false
        error:
          $ref: '#/components/schemas/BatchItemError'
    BatchSyllabifySuccess:
      type: object
      additionalProperties: false
      required: [id, success, result]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: true
        result:
          $ref: '#/components/schemas/SyllabificationResult'
    BatchTransliterateSuccess:
      type: object
      additionalProperties: false
      required: [id, success, result]
      properties:
        id:
          type: string
        success:
          type: boolean
          const: true
        result:
          $ref: '#/components/schemas/TransliterationResult'
    BatchSyllabifyResult:
      type: object
      additionalProperties: false
      required: [results]
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/BatchSyllabifySuccess'
              - $ref: '#/components/schemas/BatchItemFailure'
    BatchTransliterateResult:
      type: object
      additionalProperties: false
      required: [results]
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/BatchTransliterateSuccess'
              - $ref: '#/components/schemas/BatchItemFailure'
    Problem:
      type: object
      additionalProperties: false
      required: [type, title, status, code]
      properties:
        type:
          type: string
          format: uri-reference
          default: about:blank
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        code:
          type: string
          enum:
            - invalid_request
            - invalid_unicode
            - text_too_long
            - batch_empty
            - batch_too_large
            - batch_too_many_items
            - payload_too_large
            - unauthorized
            - forbidden
            - not_found
            - rate_limited
            - quota_exceeded
            - service_unavailable
            - conflict
            - internal_error
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
        requestId:
          type: string
